<div>
    <div>
        <label for="player-name">Player:</label>
        <input id="player-name" type="text" class="name-field"
               data-ng-disabled="ctrl.isConnected()"
               data-ng-model="ctrl.playerName">

        <button data-ng-disabled="!ctrl.isSceneReady() || ctrl.isConnected()" data-ng-click="ctrl.onConnect()">Connect
        </button>
        &nbsp;
        <button data-ng-disabled="!ctrl.isConnected()" data-ng-click="ctrl.onDisconnect()">Disconnect</button>
        <br>
        <div data-ng-cloak>{{ctrl.statusMessage}}</div>
    </div>

    <data-scene data-on-player-move="ctrl.onPlayerMove(dir)"
                data-on-motion="ctrl.onPlayerMotion(moving)"
                data-on-ready="ctrl.onSceneReady()"
                data-api="ctrl.sceneApi">
    </data-scene>
    <div class="status-text"
         data-ng-cloak
         data-ng-class="{ 'invisible': !ctrl.gameMessage }">{{ctrl.gameMessage}}</div>

    <data-chat-box class="chatbox"
                   data-api="ctrl.chatApi"
                   data-on-init="ctrl.onChildInit()">
    </data-chat-box>
</div>